/* css reset */
body {
    margin: 0;
}
ul,li,h1,h2,h3,h4,h5,h6,p { 
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 { font-weight: normal;}
a {
    color: black;
    text-decoration: none;
}
button { border-style: none;}

.container {
    width: 100%;
}


/* public header */
header {
    height: 100px;
    background-color: #f95959;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
#logo {
    margin: 15px 0 0 45px;
}
#nav-header {
    padding-top: 22px;
}
#nav-header li {
    display: inline-block;
    margin-right: 44px;
}
#nav-header li a {
    font-family:Helvetica;
    font-size:36px;
    color:#ffffff;
    letter-spacing:0;
    text-align:center;
}

/* public footer */
.footer-container {
    background-color: #777777;
    border:1px solid #979797;
}
.subscribe-part {
    /* padding: 108px 225px; */
    padding-top: 108px;
    background:rgba(249,89,89,0.10);
}
.subscribe-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 990px;
}
h2.subscribe-description {
    margin-bottom: 40px;
    font-family: PingFangSC-Regular;
    font-size: 32px;
}
.subscribe-func {
    display: flex;
    width: 100%;
}
input.subscribe-input {
    flex-grow: 1;
    height: 73px;
    margin-right: 33px;
    padding: 12px 0 12px 22px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #f95959;
    border-radius: 4px; 
    font-size: 36px;
}
button.btn-subscribe {
    width: 272px;
    height: 75px;
    background: #f95959;
    border-radius: 4px; 
    color: white;
    font-size: 36px;
}

/* homepage */
#homepage {
    font-family:Helvetica;
}
#homepage .banner {
    background:#ffffff;    
    font-family:Helvetica;
    color:#000000;
    letter-spacing:0;
    text-align:center;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner h1 { margin-bottom: 20px;}
section.section-limited { height: 550px;}
#homepage .banner h1 { font-size: 64px;}
#homepage .banner h2 { font-size: 36px;}

#products-display section:first-child {
    background:#edf8fa;
}
#products-display section.section-limited {
    display: flex;
    align-items: center;
    display: relative;
    /* padding: 6% 50px; */
    box-sizing: border-box;
}
.product-img {
    margin-right: 90px; 
    flex-basis: 43%;
    text-align: center;
}

.product-word {
    /* float: right;
    width: 640px; */
    flex: 0 1 650px;
    margin-top: -18px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
}
h2.product-title {
    margin-bottom: 14px;
    font-family: PingFangSC-Regular;
    font-size: 60px;
    line-height: 78px;
}
h3.product-description {
    font-size: 32px;
    margin-bottom: 10px;
}
.product-price {
    font-size: 32px;
    line-height: 50px;
}
.product-price p.valid {
    display: inline-block;
}
.product-price p.valid span {
    color: #f95959;
}
.product-price button.btn-detail {
    width: 100px;
    height: 36px;
    margin-left: 10px;
    background: #1697a8;
    border-radius: 4px;
    color: white;
    font-family: Helvetica;
    font-size: 28px;
}
.product-price p.unvalid {
    margin-bottom: 35px;
    color: #777777;
    text-decoration: line-through;
}
button.btn-book {
    border: 1px solid #f95959;
    border-radius: 4px;
    width: 219px;
    height: 72px;
    background-color: rgba(0,0,0,0);
    color: #f95959;
    font-size: 36px;
}

/* productpage */
