<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>spark</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/page.css">
  <style>
    .homepage .nav-header li:first-child a::after {
      display: block;
    }
  </style>
</head>
<body>
  <div class="homepage container">
    <%- include _partial/header %>
    <div class="main">
      <!-- banner -->
      <section class="banner section-limited">
        <h1>Enjoy it, without Buying it</h1>
        <h2>Book Online for the Best Gear</h2>
      </section>
      <!-- products display-->
      <div class="products-display">
        <!-- product-item1 -->        
        <section class="item1 section-limited">
          <div class="product-img">
            <img src="images/pro_DJIMAVIC.png" alt="">
          </div>
          <div class="product-word">
            <h2 class="product-title">DJI MAVIC</h2>
            <h3 class="product-description">Compact, FlightAutonomy, 4K Camera</h3>
            <div class="product-price">
              <p class="valid"><span>50</span> $／day</p>
              <button class="btn-detail">Detail</button>
              <p class="unvalid">1.381 $</p>
            </div>
            <button class="btn-book">Book Now</button>
          </div>
        </section>
        <!-- product-item2 -->
        <section class="item2 section-limited">
          <div class="product-img">
            <img src="images/pro_DJISPARK.png" alt="">
          </div>
          <div class="product-word">
            <h2 class="product-title">DJI SPARK</h2>
            <h3 class="product-description">palm size, Gesture control，FlightAutonomy</h3>
            <div class="product-price">
              <p class="valid"><span>50</span> $ / day</p>
              <button class="btn-detail">Detail</button>
              <p class="unvalid">1.381 $</p>
            </div>
            <button class="btn-book">Book Now</button>
          </div>
        </section>
        <!-- product-item3 -->        
        <section class="item3 section-limited">
          <div class="product-img">
            <img src="images/pro_DJISPARK.png" alt="">
          </div>
          <div class="product-word">
            <h2 class="product-title">DJI OSMO+</h2>
            <h3 class="product-description">Advanced Stabilization, Detailed Panorama</h3>
            <div class="product-price">
              <p class="valid"><span>20</span> $ / day</p>
              <button class="btn-detail">Detail</button>
              <p class="unvalid">1.381 $</p>
            </div>
            <button class="btn-book">Book Now</button>
          </div>
        </div>
      </section>
    </div>
    <!-- footer -->
    <%- include _partial/footer %>
  </div>
</body>
</html>