<footer>
    <div class="container">
        <!-- subscribe part -->
        <section class="subscribe-part section-limited">
            <div class="subscribe-container">
                <h2 class="subscribe-description">Subscribe now and we will send you 50% online booking voucher and keep you updated.</h3>
                <div class="subscribe-func">
                    <input class="subscribe-input" type="text" placeholder="Your Email">
                    <button class="btn-subscribe">Subscribe</button>
                </div>
            </div>
        </section>
        
        <!-- footer part -->
        <div class="footer-container">
            <div class="flex-wrapper">
                <div class="connnect-information">
                    <ul>
                        <li class="item">
                            <img class="connect-icon" src="images/icon_email.png" alt="">
                            <p>contact@cloudautomate.com</p>
                        </li>
                        <li class="item">
                            <img class="connect-icon" src="images/icon_phone.png" alt="">                            
                            <p>+01 111111</p>
                        </li>
                        <li class="item">
                            <img class="connect-icon" src="images/icon_location.png" alt="">                            
                            <p>Level 34, AMP Centre, 50 Bridge Street, <br>Sydney, NSW 2000, Australia</p>
                        </li>
                    </ul>
                </div>
                <nav class="footer-nav">
                    <ul>
                        <li>BLOG</li>
                        <li>FAQ</li>
                        <li>TEAM</li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul>
                        <li><a href=""><img src="images/icon_facebook.png"></a></li>
                        <li><a href=""><img src="images/icon_twitter.png"></a></li>
                        <li><a href=""><img src="images/icon_instagram.png"></a></li>
                    </ul>
                </div>
            </div>
            
            <p class="copyright">All Rights Reserved - Terms and Conditions of Service - Privacy Policy</div>
        </div>
    </div>
</footer>