<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div id="connnect information">
                <ul>
                    <li>
                        <p>contact@cloudautomate.com</p>
                    </li>
                    <li>
                        <p>+01 111111</p>
                    </li>
                    <li>
                        <p>Level 34, AMP Centre, 50 Bridge Street,
Sydney, NSW 2000, Australia</p>
                    </li>
                </ul>
            </div>
            <nav id="footer-nav">
                <ul>
                    <li>BLOG</li>
                    <li>FAQ</li>
                    <li>TEAM</li>
                </ul>
            </nav>
            <p class="copyright">All Rights Reserved - Terms and Conditions of Service - Privacy Policy</div>
        </div>
    </div>
</footer>