<header class="header-container">
    <a href="index.html" class="logo">
        <img src="images/logo.png" alt="">
    </a>
    <nav class="nav-header">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="javascript:;" class="subscribe-link">Subscribe</a></li>
        </ul>
    </nav>
</header>