<header>
    <div class="container">
        <div id="logo">
        <img src="images/logo_initial.png" alt="">
        <img src="" alt="">
        <img src="" alt="">
        </div>
        <nav id = "nav-header">
            <ul>
                <li>Product</li>
                <li>Subscribe</li>
            </ul>
        </nav>
    </div>
    
</header>