<div class="popup">
    <div class="pop-main">
        <div class="pop-sms-wrap">
            <div class="pop-sms">
                <img class="icon-sms" src="images/sms.png" alt="sms">
                <div class="sms-des">
                    Thanks for subscribing. We will send you voucher once online booking is available.
                </div>
            </div>
            <button class="pop-ok">ok</button>
        </div>
        <div class="pop-booking-wrap">
            <div class="pop-booking">
                <img class="icon-booking"src="images/booking.png" alt="booking">
                <div class="pop-booking-des">
                    <div class="pop-booking-title">online booking coming soon</div>
                    <div class="pop-booking-sub-title">
                        phone booking only
                        <span>+10-100-100</span>
                    </div>
                </div>
            </div>
            <button class="pop-ok">ok</button>
        </div>
        <div class="pop-close"></div>
    </div>
</div>